<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	">

    <aop:aspectj-autoproxy />
    <context:annotation-config/>

    <bean id="playwrightRemoteHubSettings" class="com.project.qa.helpers.PlaywrightRemoteHubSettings">
        <constructor-arg value="${hub.url}"/>
    </bean>

    <bean id="storefrontCockpit" class="com.project.qa.storefront.StorefrontCockpit">
        <constructor-arg value="${booker.storefront.base.url}"/>
    </bean>

    <bean id="backofficeCockpit" class="com.project.qa.backoffice.AdminCockpit">
        <constructor-arg value="${booker.backoffice.base.url}"/>
    </bean>

    <bean id="bookerController" class="com.project.qa.api.controller.BookerController">
        <constructor-arg value="${booker.restful.base.url}"/>
    </bean>

    <bean id="usersManager" class="com.project.qa.helpers.managers.users.UsersManager"/>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="usersManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${booker.backoffice.admin.role}</value>
                <value>${booker.backoffice.admin.username}</value>
                <value>${booker.backoffice.admin.password}</value>
                <ref bean="backofficeCockpit"/>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="usersManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${booker.storefront.guest.role}</value>
                <value>${booker.storefront.guest.username}</value>
                <value>${booker.storefront.guest.password}</value>
                <ref bean="storefrontCockpit"/>
            </list>
        </property>
    </bean>

    <!-- ====================================================== -->
    <!-- import different variables according to active profile -->
    <!-- ====================================================== -->
    <beans profile="dev">
        <context:property-placeholder
                ignore-resource-not-found="true"
                location="classpath*:META-INF/dev.properties, classpath*:META-INF/playwrightRemoteHub.properties,
                classpath*:META-INF/browser.properties"
                system-properties-mode="FALLBACK"/>
    </beans>
</beans>