<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	">

    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!-- Aspect -->
    <bean id="logAspect" class="com.project.qa.helpers.aspects.StepLoggerAspect"/>
    <bean id="allureStepAspect" class="com.project.qa.helpers.aspects.AllureStepAspect"/>

    <context:component-scan base-package="com.project.qa.storefront"/>
    <context:component-scan base-package="com.project.qa.backoffice"/>
    <context:component-scan base-package="com.project.qa.api.controller"/>
    <context:component-scan base-package="com.project.qa.helpers"/>

    <import resource="classpath:spring-credentials-config-context.xml"/>

</beans>